
.box11{
    padding: 0.5em 1em;
    margin: auto;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    display: flex;
    justify-content: space-between;

    width: 70%;
   height: 25%;
   
   
}

#img_path{
    margin-bottom: 20;
    margin-top: 5;
    margin-left: 0;
    height: 90%;
    width: 30%;
}
.title{
    font-size: 30px;
    
    right: 150px;

    
    
}
.box11 p {
 position:relative;
 top: 1px;
 text-align: left;
   
}

